<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{event.title}}</title>
  </head>
  <body>
    <div class="row">
      <section class="col-md-4">
        {{> eventInfo}}
        <p><a href="/events/{{event.id}}/register">Register For This Event</a></p>
      </section>
      <section class="col-md-8">
        {{> googleMap}}
      </section>
    </div>
  </body>
</html>
