<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>{{attendee.preferred_name}}</h1>
      <ul>
        <li>{{attendee.birthday}}</li>
        <li>{{attendee.email}}</li>
        <p>Over 21? <em>{{attendee.over_21}}</em></p>
      </ul>
      <p>What the hell is going on </p>
  </body>
</html>
